{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Carros</h1>

    <a href="{{ path('car_save') }}">novo</a>
    {{ include ('CarsBundle::Cars/form.html.twig', with_context = false) }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>código</th>
                    <th>marca</th>
                    <th>cor</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
            {% for c in cars %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.brand }}</td>
                    <td>{{ c.color }}</td>
                    <td>
                        <a href="#" class="remove-item" data-link="{{ path('car_remove', { 'id': c.id }) }}">excluir</a><br/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('jquery/jquery-2.1.3.min.js') }}"></script>
<script type="text/javascript">

$(function (){
    $('.remove-item').on('click', function(){
        var $that = $(this);

        $.ajax({
            type : 'DELETE',
            url  : $(this).data('link'),
            success: function (r) {
                if (r.code == 0) {
                    $that.closest('tr').remove();
                }
            }
        });
    });
});

</script>
{% endblock %}